//-------Hero accueil-----------//

.hero {
  position: relative;
  min-height: calc(100vh - 100px);

  .hero_media video {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;

    @media screen and (max-width: $breakpoint-lg) {
      object-fit: cover;
    }
  }

  .hero_media .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* noir avec 50% d’opacité */
    z-index: 1;
    border-bottom: 5px solid var(--color-primary);
    box-shadow: 0 0 50px var(--color-primary);
  }

  .hero_content {
    align-items: center;
    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 2;
    @media screen and (max-width: $breakpoint-sm) {
      width: 300px;
    }
  }

  .arrows-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    ul {
      display: flex;
      margin: 0;
      gap: 80px;
      padding: 0;
      list-style: none;
    }

    li {
      animation: upDown 1.5s ease-in-out infinite;
    }
  }

  @keyframes upDown {
    0%,
    100% {
      transform: translateY(-40px);
    }
    50% {
      transform: translateY(10px);
    }
  }
}

//-------Hero À propos-----------//

h1.a-propos {
  text-align: center;
  margin-top: 30px;
}
.hero-a-propos {
  margin: 100px 0;
  .wrapper {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 100px;

    @media screen and (max-width: $breakpoint-sm) {
      grid-template-columns: 4fr;

      .hero_content {
        order: 2;
      }

      .hero_media {
        order: 1;
      }
    }

    .hero_media {
      display: flex;
      justify-content: center;

      video {
        display: block;
      }
    }
  }
  .sociaux ul {
    padding: 30px 0 0 0;
    display: flex;
    list-style: none;
    gap: 30px;
  }
}

//-------Hero projet-----------//

.hero-projet {
  .list-icon {
    display: flex;
    gap: 30px;
    list-style: none;
    padding-left: 0;
  }
}
