.presentation-projet {
  h2 {
    margin: 100px 0;
  }
  margin: 100px 0;
  color: var(--color-white);
}
.cards-information {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 40px;

  .card {
    background-color: var(--color-bg-primary);
    padding: 0 50px;
    border: 5px solid var(--color-white);
    border-radius: 30px;
  }
}

.galerie-image,
.galerie-programmation {
  background-color: var(--color-bg-primary);
  margin: 100px 0;
  border: 5px solid var(--color-white);
  border-radius: 30px;

  h3 {
    text-align: center;
    margin: 0;
    padding: 30px 0;
  }
  hr {
    margin: 0;
    border: none;
    width: 100%;
    border-bottom: 5px solid white;
  }

  .swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0 0 30px 30px;
    }

    h3 {
      position: absolute;
      top: 0;
    }
    .button {
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
    }
  }

  .button-nav-carrousel-left {
    margin: -50px 20px;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid var(--color-primary);
    transition: all 0.2s ease-in;

    &::after {
      opacity: 0;
    }
    &:hover {
      scale: 1.5;
    }
  }
  .button-nav-carrousel-right {
    margin: -50px 20px;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid var(--color-primary);
    transition: all 0.2s ease-in;
    &::after {
      opacity: 0;
    }
    &:hover {
      scale: 1.5;
    }
  }
}

.processus-projet {
  h2 {
    margin: 100px 0;
  }
}
.processus-projet .card {
  background-color: var(--color-bg-primary);
  display: grid;
  border-radius: 30px;

  img {
    height: 100%;
    width: 100%;
    display: block;
    border: 5px solid var(--color-white);
  }

  &.right_image {
    grid-template-columns: 6fr 6fr;
    background-color: var(--color-bg-primary);

    img {
      border-radius: 0 30px 30px 0;
    }
    .card_content {
      border-radius: 30px 0 0 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 5px solid var(--color-white);
      width: 100%;

      hr {
        border: none;
        width: 100%;
        border-bottom: 5px solid white;
      }
      p {
        margin: 1em 3em;
      }
    }
  }
}
