/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
  background: var(--color-bg-primary); //test couleur
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: var(--font-size-content);
  line-height: 1.6;
  cursor: none;

  width: 100%;

  p {
    color: var(--color-white);
    line-height: 1.1;
    font-size: typo(20px, 24px);
  }
}
html,
body {
  @media screen and (max-width: $breakpoint-md) {
    width: 100%;
    overflow-x: hidden;
  }
}
