/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
  color: var(--color-primary);
  text-decoration: none;
  cursor: none;
  font-size: typo(22px, 28px);

  &:hover {
    text-decoration: none;
  }

  &.disabled {
    color: #e2e2e2;
  }
}
