/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
  // Couleur de base
  --color-white: #fff;
  --color-black: #000000;

  // Couleurs du projet
  --color-primary: #9bc43d;
  --color-primary-hover: #c0fd32;

  --color-bg-primary: #22232a;
  --color-bg-secondary: #272b53;
  --color-bg-test: #6995b1;
}
