{% include '_partials/_header.html' %}
<h1></h1>
<section class="hero">
  <div class="hero_content">
    <div class="wrapper">
      <h2></h2>
      <h4></h4>
      <p></p>
      <div class="sociaux">
        <ul>
          <li>
            <a href="#">
              <svg class="icon icon--md">
                <use xlink:href="#"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon icon--md">
                <use xlink:href="#"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon icon--md">
                <use xlink:href="#"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="hero_media">
    <img src="#" alt="" />
  </div>
</section>

<section class="mes-competences">
  <div class="wrapper">
    <div class="cards_competence">
      <div class="card left_image">
        <div class="card_media">
          <img src="#" alt="" />
        </div>
        <div class="card_content">
          <h4></h4>
          <h4></h4>
          <p></p>
        </div>
      </div>
      <div class="card right_image">
        <div class="card_content">
          <h4></h4>
          <h4></h4>
          <p></p>
        </div>
        <div class="card_media">
          <img src="#" alt="" />
        </div>
      </div>
      <div class="card left_image">
        <div class="card_media">
          <img src="#" alt="" />
        </div>
        <div class="card_content">
          <h4></h4>
          <h4></h4>
          <p></p>
        </div>
      </div>
      <div class="card right_image">
        <div class="card_content">
          <h4></h4>
          <h4></h4>
          <p></p>
        </div>
        <div class="card_media">
          <img src="#" alt="" />
        </div>
      </div>
      <div class="card left_image">
        <div class="card_media">
          <img src="#" alt="" />
        </div>
        <div class="card_content">
          <h4></h4>
          <h4></h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="appreciation">
  <div class="wrapper">
    <h4></h4>
    <a href="#" class="button"></a>
  </div>
</section>

{% include '_partials/_footer.html' %}
