{% include '_partials/_header.html' %}
<h1 class="a-propos">À propos de moi</h1>
<section class="hero-a-propos">
  <div class="wrapper">
    <div class="hero_content">
      <h2>Antoine Denis</h2>
      <h4>Développeur web / jeux vidéo</h4>
      <p>
        Passionné de snowboard et de jeux vidéo, calme, curieux et
        perfectionniste, je suis la personne qu’il vous faut.
      </p>
      <div class="sociaux">
        <ul>
          <li>
            <a href="https://github.com/AntoineTheOne" target="_blank">
              <svg class="icon icon--lg">
                <use xlink:href="#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=61578681270512"
              target="_blank"
            >
              <svg class="icon icon--lg">
                <use xlink:href="#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/antoine-denis-426119386/"
              target="_blank"
            >
              <svg class="icon icon--lg">
                <use xlink:href="#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero_media">
      <img
        src="assets/images/image-identite.png"
        alt="photo de Antoine Denis"
      />
    </div>
  </div>
</section>

<section class="mes-competences">
  <div class="wrapper">
    <div class="cards_competences">
      <div class="card left_image" data-scrolly="fromLeft" data-no-repeat>
        <div class="card_media">
          <img
            src="assets/images/image-blender.png"
            alt="image du logo Blender"
          />
        </div>
        <div class="card_content">
          <div class="first-column">
            <h4 class="ligne-cote">Animation 3D avec Blender</h4>
            <h4>6/10</h4>
          </div>
          <hr />
          <div class="second-column">
            <p>
              Durant ma technique, j’ai appris à utiliser l’application Blender
              me permettant de faire des projets d’animation en 3D.
            </p>
          </div>
        </div>
      </div>
      <div class="card right_image" data-scrolly="fromRight" data-no-repeat>
        <div class="card_content">
          <div class="first-column">
            <h4 class="ligne-cote">
              Création visuelle interactive avec TouchDesigner
            </h4>
            <h4>6/10</h4>
          </div>
          <hr />
          <div class="second-column">
            <p>
              Durant ma technique, j’ai aussi appris à utiliser l’application
              TouchDesigner, ce qui m’a permis de réaliser des projets
              interactifs.
            </p>
          </div>
        </div>
        <div class="card_media">
          <img
            src="assets/images/image-touchdesigner.png"
            alt="image du logo TouchDesigner"
          />
        </div>
      </div>
      <div class="card left_image" data-scrolly="fromLeft" data-no-repeat>
        <div class="card_media">
          <img src="assets/images/image-charpe.png" alt="image du logo C#" />
        </div>
        <div class="card_content">
          <div class="first-column">
            <h4 class="ligne-cote">
              Développement de jeux vidéo avec Unity (C#)
            </h4>
            <h4>7/10</h4>
          </div>
          <hr />
          <div class="second-column">
            <p>
              Durant ma technique, j’ai appris à utiliser l’application Unity
              avec le langage de programmation C#.
            </p>
          </div>
        </div>
      </div>
      <div class="card right_image" data-scrolly="fromRight" data-no-repeat>
        <div class="card_content">
          <div class="first-column">
            <h4 class="ligne-cote">HTML-CSS-JS avec VS code</h4>
            <h4>6/10</h4>
          </div>
          <hr />
          <div class="second-column">
            <p>
              Durant ma technique, j’ai appris à programmer des pages web en
              Html, CSS (SCSS) et javascript pour faire des pages web front-end
              pour ensuite les transformer avec wordpress.
            </p>
          </div>
        </div>
        <div class="card_media">
          <img
            src="assets/images/html-css-js.jpg"
            alt="image du logo Blender"
          />
        </div>
      </div>
      <div class="card left_image" data-scrolly="fromLeft" data-no-repeat>
        <div class="card_media">
          <img
            src="assets/images/image-wordpress.png"
            alt="image du logo Wordpress"
          />
        </div>
        <div class="card_content">
          <div class="first-column">
            <h4 class="ligne-cote">Conception de sites web sous WordPress</h4>
            <h4>6/10</h4>
          </div>
          <hr />
          <div class="second-column">
            <p>
              Durant ma technique, j’ai également appris à utiliser WordPress,
              ce qui me permet de concevoir des sites web dynamiques et
              personnalisés.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="appreciation">
  <div class="wrapper">
    <h4>
      Maintenant que vous avez découvert mes compétences, pourquoi ne pas jeter
      un œil aux projets que j’ai réalisés en lien avec celles-ci ?
    </h4>
    <a href="index.html#mesProjets" class="button">Voir mes projets</a>
  </div>
</section>

{% include '_partials/_footer.html' %}
