{% include '_partials/_header.html' %}

<section class="hero hero-accueil">
  <div class="wrapper">
    <div class="hero_media">
      <img src="assets/images/Hero-Index.png" alt="hero image" />
      <!--image test-->
    </div>
    <div class="hero_content">
      <h1>Antoine Denis</h1>
      <h4>Développeur web / jeux vidéo</h4>
      <a href="a-propos.html" class="button">À propos de moi</a>
    </div>
    <div class="arrows-down">
      <ul>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>

        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="mes-projets" id="mesProjets">
  <div class="wrapper">
    <h2 data-component="TextAnim" data-repeat>Mes projets</h2>

    <div class="cards_projets" data-scrolly="fromLeft" data-no-repeat>
      <div class="card left_image">
        <div class="card_media">
          <img src="assets/images/image-course.png" alt="image projet 1" />
        </div>
        <div class="card_content">
          <h3>Course en voiture</h3>
          <hr />
          <h4>Programmation C# / Unity</h4>
          <hr />
          <p>Projet de programmation simple d’un jeu de course automobile.</p>
          <a href="projet-01.html" class="button">En savoir plus</a>
        </div>
      </div>

      <div class="card right_image" data-scrolly="fromRight" data-no-repeat>
        <div class="card_content">
          <h3>Où sont mes arbres?</h3>
          <hr />
          <h4>Programmation C# / Unity</h4>
          <hr />
          <p>
            Projet de programmation d’un jeu dont le but est de planter des
            arbres.
          </p>
          <a href="projet-01.html" class="button">En savoir plus</a>
        </div>
        <div class="card_media">
          <img src="assets/images/image-arbres.png" alt="image projet 2" />
        </div>
      </div>
      <div class="card left_image" data-scrolly="fromLeft" data-no-repeat>
        <div class="card_media">
          <img src="assets/images/image-webjam.png" alt="image projet 5" />
        </div>
        <div class="card_content">
          <h3>WebJam</h3>
          <hr />
          <h4>Développeur web</h4>
          <hr />
          <p>
            Projet testant le travail d'équipe pour concevoir un page web en 2
            jour.
          </p>
          <a href="projet-01.html" class="button">En savoir plus</a>
        </div>
      </div>
      <div class="card right_image" data-scrolly="fromRight" data-no-repeat>
        <div class="card_content">
          <h3>Mon porfolio</h3>
          <hr />
          <h4>Développeur web</h4>
          <hr />
          <p>
            Projet de création d’un site portfolio présentant mon parcours, mes
            réalisations et mes compétences.
          </p>
          <a href="projet-01.html" class="button">En savoir plus</a>
        </div>
        <div class="card_media">
          <img
            src="assets/images/image-logo-portfolio.png"
            alt="image projet 4"
          />
        </div>
      </div>

      <div class="card left_image" data-scrolly="fromLeft" data-no-repeat>
        <div class="card_media">
          <img src="assets/images/image-usine3d.png" alt="image projet 3" />
        </div>
        <div class="card_content">
          <h3>Route vers l’infini</h3>
          <hr />
          <h4>Animation 3D avec blender</h4>
          <hr />
          <p>
            Projet d’animation 3D s’inspirant de la tendance nommée Road to
            Infinity.
          </p>
          <a href="projet-01.html" class="button">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include '_partials/_footer.html' %}
