{% include '_partials/_header.html' %}

<section class="hero hero-projet">
  <div class="wrapper">
    <div class="hero_media">
      <img src="assets/images/Hero-projet-01.png" alt="hero image" />
      <!--image test-->
    </div>
    <div class="hero_content">
      <h1>La course des étoiles</h1>
      <h4>Projet scolaire / programmation</h4>
      <ul class="list-icon">
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-unity"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-csharp"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="arrows-down">
      <ul>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>

        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="presentation-projet">
  <div class="wrapper">
    <h2>Présentation du projet :</h2>
    <div class="cards-information">
      <div class="card">
        <h3>Le but du projet :</h3>
        <p>
          Le but de ce projet était de créer un jeu de course sur un terrain à
          concevoir et de programmer le déplacement du véhicule afin de réaliser
          la course.
        </p>
      </div>
      <div class="card">
        <h3>Le but du projet :</h3>
        <ol>
          <li>Programmer les mouvements de la voiture de course.</li>
          <li>
            Générer le terrain, une tâche complex étant donné mon apprentissage
            récent de Unity.
          </li>
        </ol>
      </div>
    </div>

    <div class="galerie-image">
      <h3>Galerie d’images:</h3>
      <hr />
      <div class="swiper" data-component="Carrousel" data-loop data-autoplay>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/images/image1-projet1.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image2-projet1.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image3-projet1.png" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev button-nav-carrousel-left"></div>
        <div class="swiper-button-next button-nav-carrousel-right"></div>
      </div>
    </div>

    <div class="cards-information">
      <div class="card">
        <h3>Les crédits :</h3>
        <p>
          Le projet a été programmé par moi. Le terrain et les mécaniques du jeu
          ont également été réalisés par moi, tandis que les prefabs proviennent
          de la bibliothèque Unity Asset Store.
        </p>
      </div>
      <div class="card">
        <h3>Logiciel utilisé :</h3>
        <p>
          Pour ce projet, j’ai utilisé Unity pour le développement du jeu et
          Visual Studio Code pour la programmation des scripts.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="processus-projet">
  <div class="wrapper">
    <h2>Le processus du projet :</h2>
    <div class="card right_image">
      <div class="card_content">
        <h3>Mon organisation</h3>
        <hr />
        <p>
          Chaque
          <strong>dossier</strong>
          est structuré avec une hiérarchie claire afin de maintenir
          <strong>l’ordre</strong>
          dans tous mes différents projets. La
          <strong>nomenclature</strong>
          constitue une étape
          <strong>essentielle</strong>
          pour assurer cette organisation.
        </p>
      </div>
      <div class="card_media">
        <img src="assets/images/Organisation-1.png" alt="image projet 2" />
      </div>
    </div>

    <div class="galerie-programmation">
      <h3>Ma programmation</h3>
      <hr />
      <div class="swiper" data-component="Carrousel" data-loop>
        <div class="swiper-wrapper">
          <!-- 🧩 1️⃣ HelicesTournes -->
          <div class="swiper-slide">
            <img
              src="assets/images/script-helicestournes.png"
              alt="HelicesTournes.cs"
            />
            <h3>HelicesTournes.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-helicestournes.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <!-- 🧩 2️⃣ AjoutPointage -->
          <div class="swiper-slide">
            <img
              src="assets/images/script-ajoutpointage.png"
              alt="AjoutPointage.cs"
            />
            <h3>AjoutPointage.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-ajoutpointage.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <!-- 🧩 3️⃣ ChangementDeScene -->
          <div class="swiper-slide">
            <img
              src="assets/images/script-changementscene.png"
              alt="ChangementDeScene.cs"
            />
            <h3>ChangementDeScene.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-changementscene.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <!-- 🧩 4️⃣ DetruireRoche -->
          <div class="swiper-slide">
            <img
              src="assets/images/script-detruireroche.png"
              alt="DetruireRoche.cs"
            />
            <h3>DetruireRoche.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-detruireroche.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <!-- 🧩 5️⃣ GameManager -->
          <div class="swiper-slide">
            <img
              src="assets/images/script-gamemanager.png"
              alt="GameManager.cs"
            />
            <h3>GameManager.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-gamemanager.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <!-- 🧩 6️⃣ VictoireDefaite -->
          <div class="swiper-slide">
            <img
              src="assets/images/script-victoiredefaite.png"
              alt="VictoireDefaite.cs"
            />
            <h3>VictoireDefaite.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-victoiredefaite.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <!-- 🧩 7️⃣ SpawnZone -->
          <div class="swiper-slide">
            <img src="assets/images/script-spawnzone.png" alt="SpawnZone.cs" />
            <h3>SpawnZone.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-spawnzone.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <!-- 🧩 8️⃣ NombreDeVieRestant -->
          <div class="swiper-slide">
            <img
              src="assets/images/script-nombredevierestant.png"
              alt="NombreDeVieRestant.cs"
            />
            <h3>NombreDeVieRestant.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-nombredevierestant.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <!-- 🧩 9️⃣ WheelController -->
          <div class="swiper-slide">
            <img
              src="assets/images/script-wheelcontroller.png"
              alt="WheelController.cs"
            />
            <h3>WheelController.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-wheelcontroller.png"
              >
                Voir le code
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev button-nav-carrousel-left"></div>
        <div class="swiper-button-next button-nav-carrousel-right"></div>
      </div>
    </div>

    <div class="video-final">
      <div class="wrapper">
        <h3>Vidéo final:</h3>
      </div>
    </div>
  </div>
</section>

<section class="encouragement">
  <div class="wrapper">
    <h3>Vous avez apprécié mon projet ?</h3>
    <a href="#" class="button">Contactez moi</a>
  </div>
</section>

{% include '_partials/_footer.html' %}
