{% include '_partials/_header.html' %}

<section class="hero hero-projet">
  <div class="wrapper">
    <div class="hero_media">
      <video
        src="assets/videos/DemoReel-projet4.mp4"
        autoplay
        muted
        loop
        playsinline
        preload="auto"
      ></video>
      <div class="overlay"></div>
    </div>
    <div class="hero_content">
      <h1>Mon portfolio</h1>
      <h4>Projet scolaire / programmation</h4>
      <ul class="list-icon">
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-HTML"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-CSS"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-JS"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-PHP"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="arrows-down">
      <ul>
        <li>
          <svg class="icon icon--lg">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="presentation-projet">
  <div class="wrapper">
    <h2>Présentation du projet</h2>
    <div class="cards-information">
      <div class="card" data-scrolly="fromLeft" data-no-repeat>
        <h3>But du projet</h3>
        <p>
          Ce portfolio a été créé pour présenter mes projets, démontrer mes
          compétences techniques et créatives, et mettre en valeur mon parcours
          en intégration multimédia.
        </p>
      </div>
      <div class="card" data-scrolly="fromRight" data-no-repeat>
        <h3>Principaux défis</h3>
        <ol>
          <li>
            <p>
              Créer le formulaire en back-end avec du PHP et le configurer sur
              mon domaine en ligne afin qu’il puisse m’envoyer des courriels.
            </p>
          </li>
          <li>
            <p>
              La création de la version mobile avec les breakpoints était plus
              complexe, mais tout à fait réalisable.
            </p>
          </li>
        </ol>
      </div>
    </div>

    <div class="galerie-image" data-scrolly="fadeIn" data-no-repeat>
      <h3>Galerie d’images</h3>
      <hr />
      <div class="swiper" data-component="Carrousel" data-loop data-autoplay>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/images/image1-projet4.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image2-projet4.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image3-projet4.png" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev button-nav-carrousel-left"></div>
        <div class="swiper-button-next button-nav-carrousel-right"></div>
      </div>
    </div>

    <div class="cards-information">
      <div class="card" data-scrolly="fromLeft" data-no-repeat>
        <h3>Logiciels utilisés</h3>
        <p>
          Pour ce projet, j’ai utilisé VS Code pour programmer en HTML, SCSS,
          JavaScript et PHP. J’ai également utilisé FileZilla et GitHub pour
          gérer les sauvegardes et l’intégration du site sur mon domaine.
        </p>
      </div>
      <div class="card" data-scrolly="fromRight" data-no-repeat>
        <h3>Crédits du projet</h3>
        <p>
          J’ai tout réalisé, du design du site jusqu’à la programmation HTML,
          CSS, JS et PHP. Je suis également la personne qui a effectué
          l’intégralité de l’intégration du contenu.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="processus-projet">
  <div class="wrapper">
    <h2 data-scrolly="fadeIn" data-no-repeat>Processus du projet</h2>
    <div class="card right_image" data-scrolly="fromRight" data-no-repeat>
      <div class="card_content">
        <h3>Mon organisation</h3>
        <hr />
        <p>
          Dans ce projet, chaque dossier est soigneusement structuré afin d’être
          le plus
          <strong>compréhensible possible,</strong>
          que ce soit au niveau
          <strong>
            des nomenclatures des classes ou de celles des fichiers
          </strong>
          . J’ai également effectué de
          <strong>nombreux commits</strong>
          sur GitHub afin de suivre chaque étape du développement de mon site
          web et
          <strong>d’identifier plus facilement</strong>
          les changements ayant causé certains problèmes.
        </p>
      </div>
      <div class="card_media">
        <img src="assets/images/Organisation-4.png" alt="image projet 4" />
      </div>
    </div>

    <div class="galerie-programmation" data-scrolly="fadeIn" data-no-repeat>
      <h3>Ma programmation</h3>
      <hr />
      <div class="swiper" data-component="Carrousel" data-loop>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="assets/images/html-footer-portfolio.png"
              alt="image du footer.html"
            />
            <h3>Footer.html</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/html-footer-portfolio.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/Section-credit-html.png"
              alt="image section class crédit html"
            />
            <h3>Section class="Crédit"</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/Section-credit-html.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/section-mes-competence-html.png"
              alt="image section class mes competence html"
            />
            <h3>Section class="mes-competences"</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/section-mes-competence-html.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="assets/images/Style-appreciation.scss.png" alt="" />
            <h3>appreciation.scss</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/Style-appreciation.scss.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="assets/images/Style-hero-a-propos.scss.png" alt="" />
            <h3>hero.scss</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/Style-hero-a-propos.scss.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="assets/images/Style-scrolly.scss.png" alt="" />
            <h3>scrolly.scss</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/Style-scrolly.scss.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/componentFactory.js.png"
              alt="image du script componentFactory.js"
            />
            <h3>ComponentFactory.js</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/componentFactory.js.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/custom-cursor.js.png"
              alt="image du script custom-cursor.js"
            />
            <h3>CustomCursor.js</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/custom-cursor.js.png"
              >
                Voir le code
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev button-nav-carrousel-left"></div>
        <div class="swiper-button-next button-nav-carrousel-right"></div>
      </div>
    </div>

    <div class="video-final" data-scrolly="fadeIn" data-no-repeat>
      <div class="wrapper">
        <h3>Vidéo final</h3>
        <hr />
        <div class="video" data-component="Video" data-video-id="gBPgUYt9q7M">
          <div class="video_media js-video">
            <img
              class="js-poster"
              src="assets/images/logo-A.D.png"
              alt="Vidéo demo reel de mon portfolio"
            />
            <svg class="icon icon--lg">
              <use xlink:href="#icon-play"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Crédit">
  <div class="wrapper">
    <h2>FAC "Foire aux crédits"</h2>
    <div class="accordion" data-component="Accordion">
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Côté design</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            J’ai entièrement conçu le design moi-même en m’inspirant du style
            Bentho Grid et du thème Neon Nostalgia, afin de créer un site web
            immersif. J’ai également bénéficié des conseils de mon professeur
            concernant le choix des couleurs.
          </p>
        </div>
      </div>

      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Côté programmation HTML-CSS-JS</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            J’ai été responsable de toute la programmation du projet, en
            réalisant l’ensemble des styles SCSS ainsi que les scripts
            JavaScript, notamment pour le header et la composante YouTube, en
            utilisant le stack TIM Tools.
          </p>
        </div>
      </div>

      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Côté programmation PHP</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            J’ai développé un petit script submit.php permettant d’envoyer les
            données d’un formulaire vers mon adresse courriel principale.
            Toutefois, pour des raisons de sécurité, je ne présenterai pas ce
            code ici ni sur mon dépôt GitHub.
          </p>
        </div>
      </div>

      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Côté intégration des contenus</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            J’ai effectué l’ensemble de la recherche de contenu pour mes
            projets. C’est moi qui suis allé chercher et répertorier tous les
            crédits un par un afin de nommer correctement chaque source.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="encouragement">
  <div class="wrapper">
    <div class="content">
      <h3>Vous avez apprécié mon projet ?</h3>
      <a href="contact.html" class="button">Contactez moi</a>
    </div>
  </div>
</section>

{% include '_partials/_footer.html' %}
