{% include '_partials/_header.html' %}

<section class="hero hero-projet">
  <div class="wrapper">
    <div class="hero_media">
      <video autoplay muted loop playsinline>
        <source src="assets/videos/DemoReel-projet1.mp4" type="video/mp4" />
      </video>
      <div class="overlay"></div>
    </div>
    <div class="hero_content">
      <h1>La course des étoiles</h1>
      <h4>Projet scolaire / programmation</h4>
      <ul class="list-icon">
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-unity"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-csharp"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="arrows-down">
      <ul>
        <li>
          <svg class="icon icon--lg">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="presentation-projet">
  <div class="wrapper">
    <h2>Présentation du projet :</h2>
    <div class="cards-information">
      <div class="card" data-scrolly="fromLeft" data-no-repeat>
        <h3>But du projet :</h3>
        <p>
          Le but de ce projet était de
          <strong>créer un jeu de course</strong>
          sur un terrain
          <strong>à concevoir</strong>
          et de programmer le
          <strong>déplacement du véhicule</strong>
          afin de réaliser la course.
        </p>
      </div>
      <div class="card" data-scrolly="fromRight" data-no-repeat>
        <h3>Principaux défis :</h3>
        <ol>
          <li>
            <p>
              Programmer les
              <strong>mouvements</strong>
              de la voiture de course.
            </p>
          </li>
          <li>
            <p>
              <strong>Générer le terrain,</strong>
              une tâche complex étant donné mon
              <strong>apprentissage</strong>
              récent de Unity.
            </p>
          </li>
        </ol>
      </div>
    </div>

    <div class="galerie-image" data-scrolly="fadeIn" data-no-repeat>
      <h3>Galerie d’images:</h3>
      <hr />
      <div class="swiper" data-component="Carrousel" data-loop data-autoplay>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/images/image1-projet1.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image2-projet1.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image3-projet1.png" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev button-nav-carrousel-left"></div>
        <div class="swiper-button-next button-nav-carrousel-right"></div>
      </div>
    </div>

    <div class="cards-information">
      <div class="card" data-scrolly="fromLeft" data-no-repeat>
        <h3>Logiciel utilisé :</h3>
        <p>
          Pour ce projet, j’ai utilisé Unity pour le développement du jeu et
          Visual Studio Code pour la programmation des scripts.
        </p>
      </div>
      <div class="card" data-scrolly="fromRight" data-no-repeat>
        <h3>Crédits du projet :</h3>
        <p>
          Le projet a été entièrement programmé par moi. Le terrain ainsi que
          les mécaniques de jeu ont également été réalisés par mes soins, tandis
          que les prefabs utilisés proviennent de la bibliothèque Unity Asset
          Store.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="processus-projet">
  <div class="wrapper">
    <h2 data-scrolly="fadeIn" data-no-repeat>Processus du projet</h2>
    <div class="card right_image" data-scrolly="fromRight" data-no-repeat>
      <div class="card_content">
        <h3>Mon organisation</h3>
        <hr />
        <p>
          Chaque
          <strong>dossier</strong>
          est structuré avec une hiérarchie claire afin de maintenir
          <strong>l’ordre</strong>
          dans tous mes différents projets. La
          <strong>nomenclature</strong>
          constitue une étape
          <strong>essentielle</strong>
          pour assurer cette organisation.
        </p>
      </div>
      <div class="card_media">
        <img src="assets/images/Organisation-1.png" alt="image projet 2" />
      </div>
    </div>

    <div class="galerie-programmation" data-scrolly="fadeIn" data-no-repeat>
      <h3>Ma programmation</h3>
      <hr />
      <div class="swiper" data-component="Carrousel" data-loop>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="assets/images/script-helicestournes.png"
              alt="HelicesTournes.cs"
            />
            <h3>HelicesTournes.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-helicestournes.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/script-ajoutpointage.png"
              alt="AjoutPointage.cs"
            />
            <h3>AjoutPointage.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-ajoutpointage.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/script-changementscene.png"
              alt="ChangementDeScene.cs"
            />
            <h3>ChangementDeScene.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-changementscene.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/script-detruireroche.png"
              alt="DetruireRoche.cs"
            />
            <h3>DetruireRoche.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-detruireroche.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/script-gamemanager.png"
              alt="GameManager.cs"
            />
            <h3>GameManager.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-gamemanager.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/script-victoiredefaite.png"
              alt="VictoireDefaite.cs"
            />
            <h3>VictoireDefaite.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-victoiredefaite.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="assets/images/script-spawnzone.png" alt="SpawnZone.cs" />
            <h3>SpawnZone.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-spawnzone.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/script-nombredevierestant.png"
              alt="NombreDeVieRestant.cs"
            />
            <h3>NombreDeVieRestant.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-nombredevierestant.png"
              >
                Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/script-wheelcontroller.png"
              alt="WheelController.cs"
            />
            <h3>WheelController.cs</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/script-wheelcontroller.png"
              >
                Voir le code
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev button-nav-carrousel-left"></div>
        <div class="swiper-button-next button-nav-carrousel-right"></div>
      </div>
    </div>

    <div class="video-final" data-scrolly="fadeIn" data-no-repeat>
      <div class="wrapper">
        <h3>Vidéo final:</h3>
        <hr />
        <div class="video" data-component="Video" data-video-id="g_NMT95igdU">
          <div class="video_media js-video">
            <img
              class="js-poster"
              src="assets/images/Hero-projet-01.png"
              alt="Vidéo de mon premier jeux vidéo"
            />
            <svg class="icon icon--lg">
              <use xlink:href="#icon-play"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Crédit">
  <div class="wrapper">
    <h2>FAC "Foire aux crédits"</h2>
    <div class="accordion" data-component="Accordion">
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Prefab utilisé pour la voiture</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            This work is based on "90s Unmarked Police sedan - Low poly model"
            (https://sketchfab.com/3d-models/90s-unmarked-police-sedan-low-poly-model-d604871eee5b4181bb298163b0b675b7)
            by Daniel Zhabotinsky (https://sketchfab.com/DanielZhabotinsky)
            licensed under CC-BY-4.0
            (http://creativecommons.org/licenses/by/4.0/)
          </p>
          <div class="section__boutton">
            <a
              href="https://sketchfab.com/3d-models/90s-unmarked-police-sedan-low-poly-model-d604871eee5b4181bb298163b0b675b7"
              class="button"
              target="_blank"
            >
              sketcfab.com
            </a>
            <a
              href="http://creativecommons.org/licenses/by/4.0/"
              class="button"
              target="_blank"
            >
              licence
            </a>
          </div>
        </div>
      </div>
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton--card">
          <h4>Prebab utilisé pour les montgolfières</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            Vous pouvez consulter la ressource originale sur la page officielle
            de l’Asset Store.
          </p>
          <a
            href="https://assetstore.unity.com/packages/3d/vehicles/air/underpoly-free-hot-air-balloons-257931"
            class="button"
            target="_blank"
          >
            Asset store
          </a>
        </div>
      </div>
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton--card">
          <h4>Prebab utilisé pour les clotures</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            Vous pouvez consulter la ressource originale sur la page officielle
            de l’Asset Store.
          </p>
          <a
            href="https://assetstore.unity.com/packages/3d/props/exterior/low-poly-fence-pack-61661"
            class="button"
            target="_blank"
          >
            Asset store
          </a>
        </div>
      </div>
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton--card">
          <h4>Prefab utilisé pour les arbres</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            Vous pouvez consulter la ressource originale sur la page officielle
            de l’Asset Store.
          </p>
          <a href="#" class="button" target="_blank">Asset store</a>
        </div>
      </div>
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton--card">
          <h4>Prefab utilisé pour l'avions rouillé</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            Vous pouvez consulter la ressource originale sur la page officielle
            de l’Asset Store.
          </p>
          <a
            href="https://assetstore.unity.com/packages/3d/vehicles/air/rusty-plane-161892"
            class="button"
            target="_blank"
          >
            Asset store
          </a>
        </div>
      </div>
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton--card">
          <h4>Prefab utilisé pour les différentes herbes au sol</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            Vous pouvez consulter la ressource originale sur la page officielle
            de l’Asset Store.
          </p>
          <a
            href="https://assetstore.unity.com/packages/3d/vegetation/low-poly-nature-free-vegetation-134006"
            class="button"
            target="_blank"
          >
            Asset store
          </a>
        </div>
      </div>
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton--card">
          <h4>Prefab utilisé pour les roches</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            Vous pouvez consulter la ressource originale sur la page officielle
            de l’Asset Store.
          </p>
          <a
            href="https://assetstore.unity.com/packages/3d/environments/low-poly-rock-pack-57874"
            class="button"
            target="_blank"
          >
            Asset store
          </a>
        </div>
      </div>
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton--card">
          <h4>Prefab utilisé pour la texture des bouttons dans le jeu.</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            Vous pouvez consulter la ressource originale sur la page officielle
            de l’Asset Store.
          </p>
          <a
            href="https://assetstore.unity.com/packages/2d/gui/icons/simple-button-set-02-184903#content"
            class="button"
            target="_blank"
          >
            Asset store
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="encouragement">
  <div class="wrapper">
    <div class="content">
      <h3>Vous avez apprécié mon projet ?</h3>
      <a href="contacts.html" class="button">Contactez moi</a>
    </div>
  </div>
</section>

{% include '_partials/_footer.html' %}
