{% include '_partials/_header.html' %}

<section class="hero hero-projet">
  <div class="wrapper">
    <div class="hero_media">
      <img src="assets/images/Hero-projet-01.png" alt="hero image" />
      <!--image test-->
    </div>
    <div class="hero_content">
      <h1>La course des étoiles</h1>
      <h4>Projet scolaire / programmation</h4>
      <ul class="list-icon">
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-unity"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-csharp"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="arrows-down">
      <ul>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>

        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--md">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="presentation-projet">
  <div class="wrapper">
    <div class="cards-information">
      <div class="card">
        <h3>Le but du projet :</h3>
        <p>
          Le but de ce projet était de créer un jeu de course sur un terrain à
          concevoir et de programmer le déplacement du véhicule afin de réaliser
          la course.
        </p>
      </div>
      <div class="card">
        <h3>Le but du projet :</h3>
        <ol>
          <li>Programmer les mouvements de la voiture de course.</li>
          <li>
            Générer le terrain, une tâche complex étant donné mon apprentissage
            récent de Unity.
          </li>
        </ol>
      </div>
    </div>

    <div class="galerie-image">
      <h3>Galerie d’images:</h3>
      <div class="swiper" data-component="Carrousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/images/image-projet1.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image-projet2.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image-projet3.png" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="cards-information">
      <div class="card">
        <h3>Les crédits :</h3>
        <p>
          Le projet a été programmé par moi. Le terrain et les mécaniques du jeu
          ont également été réalisés par moi, tandis que les prefabs proviennent
          de la bibliothèque Unity Asset Store.
        </p>
      </div>
      <div class="card">
        <h3>Logiciel utilisé :</h3>
        <p>
          Pour ce projet, j’ai utilisé Unity pour le développement du jeu et
          Visual Studio Code pour la programmation des scripts.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="processus-projet">
  <div class="wrapper">
    <div class="card right_image">
      <div class="card_content">
        <h3>Mon organisation</h3>
        <hr />
        <p>
          Chaque dossier est structuré avec une hiérarchie claire afin de
          maintenir l’ordre dans tous mes différents projets. La nomenclature
          constitue une étape essentielle pour assurer cette organisation.
        </p>
      </div>
      <div class="card_media">
        <img src="#" alt="image projet 2" />
      </div>
    </div>
  </div>

  <div class="galerie-programmation">
    <div class="wrapper">
      <h3>Ma programmation</h3>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="#" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="#" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="#" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>

  <div class="video-final">
    <div class="wrapper">
      <h3>Vidéo final:</h3>
    </div>
  </div>
</section>

<section class="encouragement">
  <div class="wrapper">
    <h3>Vous avez apprécié mon projet ?</h3>
    <a href="#" class="button">Contactez moi</a>
  </div>
</section>

{% include '_partials/_footer.html' %}
