{% include '_partials/_header.html' %}

<section class="hero hero-projet">
  <div class="wrapper">
    <div class="hero_media">
      
      <video src="assets/videos/DemoReel-projet3.mp4" autoplay muted loop playsinline preload="auto"></video>
      <div class="overlay"></div>
    </div>
    <div class="hero_content">
      <h1>WebJam 2025</h1>
      <h4>Projet scolaire / programmation</h4>
      <ul class="list-icon">
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-HTML"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-CSS"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-JS"></use>
          </svg>
        </li>
        <li>
          <svg class="icon icon--lg">
            <use href="#icon-PHP"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="arrows-down">
      <ul>
        <li>
          <svg class="icon icon--lg">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="presentation-projet">
  <div class="wrapper">
    <h2>Présentation du projet </h2>
    <div class="cards-information">
      <div class="card" data-scrolly="fromLeft" data-no-repeat>
        <h3>But du projet </h3>
        <p>
          Le but de ce projet était de
          <strong>Faire un site web</strong>
          en équipe de 5 étudiants
          <strong>en deux jour!</strong>
          On doit <strong>gérer le travail</strong> pour réussir à en sortir quelque chose de grand.
        </p>
      </div>
      <div class="card" data-scrolly="fromRight" data-no-repeat>
        <h3>Principaux défis </h3>
        <ol>
          <li>
            <p>
              Gérer notre temps et nos stress.
            </p>
          </li>
          <li>
            <p>
              Faire l'olympiade "code in the dark" en codant sans voir le résultat.
            </p>
          </li>
        </ol>
      </div>
    </div>

    <div class="galerie-image" data-scrolly="fadeIn" data-no-repeat>
      <h3>Galerie d’images</h3>
      <hr />
      <div class="swiper" data-component="Carrousel" data-loop data-autoplay>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="assets/images/image-WebJam1.JPG" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image-WebJam2.JPG" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="assets/images/image-WebJam3.JPG" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev button-nav-carrousel-left"></div>
        <div class="swiper-button-next button-nav-carrousel-right"></div>
      </div>
    </div>

    <div class="cards-information">
      <div class="card" data-scrolly="fromLeft" data-no-repeat>
        <h3>Logiciels utilisés</h3>
        <p>
          Pour ce projet, nous avons utilisé
          <strong>
            Visual Studio Code, FileZilla, GitHub, WordPress et même Blender
          </strong>
          , que ce soit pour programmer le site web ou pour participer à une
          olympiade.
        </p>
      </div>
      <div class="card" data-scrolly="fromRight" data-no-repeat>
        <h3>Crédits du projet</h3>
        <p>
          J’ai contribué au design de certaines pages et j’ai programmé
          plusieurs d’entre elles en HTML, CSS et un peu en PHP. Le reste du
          travail a été réalisé par les autres membres de mon équipe.
        </p>
      </div>
    </div>
  </div>
</section>



<section class="processus-projet">
  <div class="wrapper">
    <h2 data-scrolly="fadeIn" data-no-repeat>Processus du projet</h2>
    <div class="card right_image" data-scrolly="fromRight" data-no-repeat>
      <div class="card_content">
        <h3>Mon organisation</h3>
        <hr />
        <p>
          Durant ce projet, on avait utilisé un trello pour gérer les tâches à faire en équipe. Par la suite, il suffisait de garder une structure des dossiers et des class html simple et conforme à l'équipe.
        </p>
      </div>
      <div class="card_media">
        <img src="assets/images/organisation-3.png" alt="image projet 3" />
      </div>
    </div>

    <div class="galerie-programmation" data-scrolly="fadeIn" data-no-repeat>
      <h3>Ma programmation</h3>
      <hr />
      <div class="swiper" data-component="Carrousel" data-loop>
        <div class="swiper-wrapper">
          

          <div class="swiper-slide">
            <img
              src="assets/images/html-tpl-univers.png"
              alt="tpl-univers.html"
            />
            <h3>tpl-univers.html</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/html-tpl-univers.png"
              >
                 Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/html-footer.png"
              alt="footer.html"
            />
            <h3>footer.html</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/html-footer.png"
              >
                 Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="assets/images/styleSCSS-enVedette.png" alt="en-vedette.scss" />
            <h3>en-vedette.scss</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/styleSCSS-enVedette.png"
              >
                 Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/styleSCSS-footer.png"
              alt="Image du footer.scss"
            />
            <h3>Footer.scss</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/styleSCSS-footer.png"
              >
                 Voir le code
              </a>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="assets/images/styleSCSS-hero.png"
              alt="Image du hero.scss"
            />
            <h3>Hero.scss</h3>
            <div class="voir-code" data-component="Modal">
              <a
                href="#"
                class="voir-code-btn button"
                data-image="assets/images/styleSCSS-hero.png"
              >
                Voir le code
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev button-nav-carrousel-left"></div>
        <div class="swiper-button-next button-nav-carrousel-right"></div>
      </div>
    </div>

    <div class="video-final" data-scrolly="fadeIn" data-no-repeat>
      <div class="wrapper">
        <h3>Vidéo final</h3>
        <hr />
        <div class="video" data-component="Video" data-video-id="XUEwufxhCAo">
          <div class="video_media js-video">
            <img
              class="js-poster"
              src="assets/images/Thumbnail-projet3.png"
              alt="Vidéo de mon projet webjam"
            />
            <svg class="icon icon--lg">
              <use xlink:href="#icon-play"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="Crédit">
  <div class="wrapper">
    <h2>FAC "Foire aux crédits"</h2>
    <div class="accordion" data-component="Accordion">
      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Notre équipe</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>
            Ce projet a été réalisé en équipe dans le cadre du WebJam. J’ai principalement travaillé sur l’intégration front-end (HTML, CSS et PHP) aux côtés des autres membres de l’équipe. J’ai également contribué à certaines parties du design, puisque nous n’avions pas de designer attitré. Le projet a été mené en collaboration avec Anna-Lissa Laroche, Aleck Carrier, Marcos Sosa Silva et Gabriel Martineau, qui ont participé à la programmation, à l’intégration et à la direction artistique.

            <div class="section__boutton">
            <a
              href="https://alaroche.dectim.ca/portfolio/"
              class="button"
              target="_blank"
            >
              Anna-Lissa
            </a>
            <a
              href="https://gabrielmartineau.ca"
              class="button"
              target="_blank"
            >
              Gabriel
            </a>
            <a
              href="https://acarrier.dectim.ca/"
              class="button"
              target="_blank"
            >
              Aleck
            </a>
            <a
              href="#"
              class="button"
              target="_blank"
            >
              Marcos
            </a>
          </div>
          </p>
        </div>
      </div>

      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Côté design</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>J’ai contribué au design de la page Univers, plus particulièrement aux trois premières sections : le hero de la page, la section œuvre en vedette et la description de l’univers artistique. J'ai aussi contribué à la première version de la page d'équipe pour aider à avancer dans le design du projet.</p>
           

        </div>
      </div>

      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Côté programmation HTML-CSS-JS</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>Pour la partie programmation en HTML, CSS et JavaScript, j’ai principalement réalisé le code HTML de la page Single Univers. C’est aussi sur ces trois sections que j’ai travaillé le design, en plus d’avoir développé la première version des trois variantes correspondant aux trois univers différents.</p>
           

        </div>
      </div>

      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Côté programmation Wordpress-PHP</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>En ce qui concerne l’intégration sur WordPress et le code PHP, j’ai réalisé une grande partie des champs ACF, à partir d’une liste que j’avais préparée à l’avance afin que les autres développeurs puissent programmer plus efficacement. Par la suite, j’ai également aidé mes collègues à corriger certaines erreurs dans leurs scripts PHP.</p>
           

        </div>
      </div>

      <div class="accordion__container js-acc-header">
        <div class="accordion__header bouton bouton--card">
          <h4>Côté intégration des contenus</h4>
          <div class="header__icons">
            <svg class="icon icon--md up">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
        </div>
        <div class="accordion__content">
          <p>Pour ce qui est de l’intégration du contenu, j’ai principalement aidé à importer les images provenant de notre maquette Figma vers WordPress. Par la suite, j’ai également contribué à l’intégration du contenu lié à l’univers musical.</p>
           

        </div>
      </div>
      
      
      
      
    </div>
  </div>
</section>

<section class="encouragement">
  <div class="wrapper">
    <div class="content">
      <h3>Vous avez apprécié mon projet ?</h3>
      <a href="contact.html" class="button">Contactez moi</a>
    </div>
  </div>
</section>

{% include '_partials/_footer.html' %}
